.steps {
  width: 400px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}

.progressbar li {
  list-style-type: none;
  color: black;
  text-transform: uppercase;
  font-size: 12px;
}
.progressbar li .before {
  border-radius: 50%;
  line-height: 28px;
  display: block;
  font-size: 10px;
  background: grey;
  margin: 0 auto 9px auto;
  height: 30px;
  width: 30px;
  color: white;
}
