div {
  width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}

.progressbar {
	margin-bottom: 30px;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
.progressbar li {
	list-style-type: none;
	color: red;
	text-transform: uppercase;
	font-size: 12px;
	float: left;
	position: relative;
}
.progressbar li:before {
	content: counter(step);
	counter-increment: step;
  width: 40px;
  height: 40px;
  border-radius: 50% !important;
	line-height: 20px;
	display: block;
	font-size: 10px;
  color: .333;
	background: black;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
.progressbar li:after {
	content: '';
	width: 100%;
	height: 3px;
	background: grey;
	position: absolute;
	left: -50%;
	top: 18px;
	z-index: -1; /*put it behind the numbers*/
}
.progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
.progressbar li.active:before,  .progressbar li.active:after{
	background: #72B43B;
	color: black;
}



